body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(208,113,230);
  background: linear-gradient(90deg, rgba(208,113,230,1) 6%, rgba(218,119,202,1) 35%, rgba(101,198,209,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

